<h2>Employees</h2>
<br>
<div class="text-center">
  <div *ngIf="loading" class="spinner-border" style="width: 3rem; height: 3rem; color: #db6b00" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div *ngIf="employees?.length == 0">
  <h4>No employees found</h4>
</div>
<div *ngFor="let employee of employees" class="card" style="width: 100%">
  <div class="card-body">
    <h5 class="card-title">{{employee.name}}</h5>
    <p class="card-text">Email: {{employee.email}}</p>
    <p class="card-text">Base Salary: {{employee.base_salary}}</p>
    <p class="card-text">Bonus: {{employee.bonus}}</p>
    <p class="card-text">Insurance: {{employee.insurance}}</p>
    <p class="card-text">401(k): {{employee.four_o_oneK}}</p>
    <p class="card-text">Total Salary: {{employee.total_salary}}</p>
    <a class="btn btn-primary" (click)="update(employee)">Update</a>
  </div>
</div>
