<!-- nav -->
<style>
  .navbar-custom {
    background-color: #db6b00;
  }

  /* change the brand and text color */
  .navbar-custom .navbar-brand,
  .navbar-custom .navbar-text {
    color: #ffffff;
  }

  /* change the link color */
  .navbar-custom .navbar-nav .nav-link {
    color: #ffffff;
  }

  /* change the color of active or hovered links */
  .navbar-custom .nav-item.active .nav-link,
  .navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
  }

</style>
<nav class="navbar navbar-expand navbar-custom" *ngIf="currentUser">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/">Home</a>
    <a class="nav-item nav-link" routerLink="" (click)="logout()">Logout</a>
    <a class="nav-item nav-link" routerLink="/">Add Employee</a>
  </div>
</nav>

<!-- main app container -->
<div class="jumbotron" style="background-color: white">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <app-alert></app-alert>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
